* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #38f5fc;
  --secondary-color: #024e76;
  --tertiary-color: #101213;
  --primary-color-transparent: rgba(175, 160, 192, 0.8);
  --secondary-color-transparent: rgba(2, 78, 118, 0.8);
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}
 
 
header {
  background-color: #024e76;
  padding: 25px 25px;
  background-position: 80%;
  background-attachment:fixed;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: left-right;
  flex-wrap: wrap;
  position:sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  display: flex;
  flex-wrap:wrap;
  align-items:left;
  font-display: left;
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);

}

header h3 {
  display: flex;
  flex-wrap:wrap;
  align-items:left;
  font-display: left;
  font-weight: bold;
  margin: 0;
  font-size: 24px;
  color: var(--primary-color);
  text-shadow: 0px 0 15px rgba(0, 0, 0, 0.5);
}

header h2 {
   align-items:center;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

.outerboundspictures {
  height: 350px;
  width: 380px;
}

.karltunmoreno360 {
  height: 330px;
  width: 470px;

}

.timedquiz {
  height: 340px;
  width: 595px;
}

.travelbuddy {
  height: 300px;
  width: 520px;
}

.workdayscheduler {
    height: 320px;
    width: 460px;
}

.currencyexchange {
      height: 300px;
      width: 445px;
}
.aboutmesection {
  display: grid;
  
}

.selfie {
  height: 350px;
  width: 237px;
  grid-column: 1;
  grid-row: 1;
}

.grid {
  display: flex;
}

.FAAlogo {
  height: 128px;
  width: 128px;

}
.aboutmetext {
  grid-column: 2;
  grid-row: 1;

  
  

}

center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
}

header nav {
  margin: 7px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: 200;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow:none;
}
/* STYLE ALL SECTION TAGS */
section {
  padding: 30px;
}
/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  padding-bottom: 20px;
  width: 50%;
  border-bottom: 2px solid;
  margin: 0 auto 35px auto;
  color: var(--secondary-color);
  text-align: center;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}
/* SECTION TITLE STYLES END */

/* PROFILE */

.intro p {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 30px;
  text-align: left;

  
}
/* REACH OUT STYLES START */
.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.contact-info > * {
  flex: 1;
  margin: 15px
}

.contact-info iframe {
  min-height: 400px;
}

.contact-info div {
  color: rgb(241, 233, 233);
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-info a {
  color: var(--primary-color);
}

.contact-form label {
  opacity: 0;
}

.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px; 
  border-radius: 10px;
  background-color: rgba(240, 224, 224, 0.75);
}

.contact-form textarea {
  resize: none;
}

footer h2, footer div {
  text-align: center;
  width: 100%;
}

.contact-form input:focus, .contact-form textarea:focus {
  background-color: rgb(245, 204, 204);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}
/* REACH OUT STYLES END */




/* 2.4 - MEDIA QUERIES FOR SMALL SCREENS TO TABLETS */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }



  .contact-info iframe{
    flex: 1 100%;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }


  /* Style all font awesome icons */
.fa {
  padding: 50px;
  font-size: 70px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

}

/* 2.4 - MEDIA QUERIES FOR TABLETS DOWN TO PHONES */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .checkbox label, .radio label {
    margin: 24px;
  }
  
  .section-title {
    width: 100%;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: ce;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

 
  }/* 2.4 - MEDIA QUERIES FOR PHONE */
@media screen and (max-width: 575px) {
  


  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}